GENERATE_FINAL_LOCALS
GENERATE_FINAL_PARAMETERS
GENERATE_FINAL_ALL_FIELDS
USE_IS_FOR_GETTERS
INTRODUCE_PARAMETER_NAME_DIALOG
COMMA_AFTER_EXTENDS
SPACE_AFTER_COMMA
COMMA_AFTER_IMPLEMENTS
SPACE_AFTER_COMMA
SPACE_AFTER_TYPE_REFERENCE
SPACE_BEFORE_COLON
SPACE_AFTER_COLON
SPACE_BEFORE_COMMA
SPACE_BEFORE_SEMICOLON
SPACE_AFTER_COMMA
SPACE_BEFORE_SEMICOLON
SPACE_AFTER_TYPE_CAST
KEEP_SIMPLE_BLOCKS_IN_ONE_LINE
KEEP_SIMPLE_METHODS_IN_ONE_LINE
WRAP_LONG_LINES
METHOD_PARAMETERS_LPAREN_ON_NEXT_LINE
METHOD_PARAMETERS_RPAREN_ON_NEXT_LINE
SPACE_AFTER_TYPE_CAST
ALIGN_MULTILINE_PARAMETERS
CALL_PARAMETERS_LPAREN_ON_NEXT_LINE
CALL_PARAMETERS_RPAREN_ON_NEXT_LINE
PARENTHESES_EXPRESSION_LPAREN_WRAP
PARENTHESES_EXPRESSION_RPAREN_WRAP
ARRAY_INITIALIZER_LBRACE_ON_NEXT_LINE
ARRAY_INITIALIZER_RBRACE_ON_NEXT_LINE
PLACE_ASSIGNMENT_SIGN_ON_NEXT_LINE
IF_LPAREN_WRAP
IF_RPAREN_WRAP
FOR_LPAREN_WRAP
FOR_RPAREN_WRAP
WHILE_LPAREN_WRAP
WHILE_RPAREN_WRAP
DO_LPAREN_WRAP
DO_RPAREN_WRAP
DOWHILE_KEYWORD_WRAP
SIMPLE_METHOD_WRAP
METHOD_PARAMETERS_LPAREN_ON_NEXT_LINE
METHOD_PARAMETERS_RPAREN_ON_NEXT_LINE
PLACE_ASSIGNMENT_SIGN_ON_NEXT_LINE
ALIGN_MULTILINE_VARIABLES
TYPE_PARAMETER_LIST_WRAP
TYPE_PARAMETER_LPAREN_ON_NEXT_LINE
TYPE_PARAMETER_RPAREN_ON_NEXT_LINE
TYPE_ARGUMENTS_WRAP
TYPE_ARGUMENTS_GT_ON_NEXT_LINE
TYPE_PARAMETER_COMMA
ARRAY_BRACES_WRAP
ARRAY_LBRACKET_WRAP
ARRAY_RBRACKET_WRAP
MODIFIER_WRAP
ENUM_CONSTANTS_WRAP
ENUM_CONSTANTS_SEMICOLON_WRAP
ENUM_BRACES_WRAP
ENUM_LBRACE_ON_NEXT_LINE
ENUM_RBRACE_ON_NEXT_LINE
QUALIFIER_WRAP
THIS_WRAP
SUPER_WRAP
ALIGN_MULTILINE_ANNOTATIONS
ANNOTATION_ARRAYS_WRAP
ANNOTATION_LPAREN_ON_NEXT_LINE
ANNOTATION_RPAREN_ON_NEXT_LINE
CONTINUATION_INDENT_SIZE
CALL_PARAMETERS_LPAREN_ON_NEXT_LINE
CALL_PARAMETERS_RPAREN_ON_NEXT_LINE
METHOD_PARAMETERS_LPAREN_ON_NEXT_LINE
METHOD_PARAMETERS_RPAREN_ON_NEXT_LINE
ALIGN_MULTILINE_PARAMETERS
IMPLEMENTS_LIST_WRAP
IMPLEMENTS_KEYWORD_WRAP
COMMA_AFTER_EXTENDS
SPACE_AFTER_COMMA
COMMA_AFTER_IMPLEMENTS
SPACE_AFTER_COMMA
SPACE_AFTER_TYPE_REFERENCE
SPACE_BEFORE_COLON
SPACE_AFTER_COLON
SPACE_BEFORE_COMMA
SPACE_BEFORE_SEMICOLON
SPACE_AFTER_COMMA
SPACE_BEFORE_SEMICOLON
SPACE_AFTER_TYPE_CAST
KEEP_SIMPLE_BLOCKS_IN_ONE_LINE
KEEP_SIMPLE_METHODS_IN_ONE_LINE
WRAP_LONG_LINES
TYPE_PARAMETER_LIST_WRAP
TYPE_PARAMETER_LPAREN_ON_NEXT_LINE
TYPE_PARAMETER_RPAREN_ON_NEXT_LINE
TYPE_ARGUMENTS_WRAP
TYPE_ARGUMENTS_GT_ON_NEXT_LINE
TYPE_PARAMETER_COMMA
ARRAY_BRACES_WRAP
